*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    background: rgb(0,0,0);
background: linear-gradient(288deg, rgba(0,0,0,1) 0%, rgba(198,0,255,1) 100%);
}
.container{
    height: 80vh;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 2rem;
    background-color: white;
    grid-template-areas: 
    'a a a'
    'b c d'
    'e f f'
    'g h h'
    'i j k'
    'l m m'
    'n n n'
    'o o o '
    ;
}
.header{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-top-right-radius:2rem;
    border-top-left-radius:2rem;
}
.name{
    grid-area: b;
    padding-top: 10px;
    padding-left: 5px;
}
.firstnamelabel{
    grid-area: c;
    padding-top: 10px;
   
}
.lastnamelabel{
    grid-area: d;
    padding-top: 10px;
    
}
.company{
    grid-area: e;
    padding-left: 5px;
}
.companylabel{
    grid-area: f;
}
.email{
    grid-area: g;
    padding-left: 5px;
}
.emaillabel{
    grid-area: h;
}
.phone{
    grid-area: i;
    padding-left: 5px;
}
.areacodelabel{
    grid-area: j;
}
.numberlabel{
    grid-area: k;
}

.subject{
    grid-area: l;
    padding-left: 5px;
}
.subjectlabel{
    grid-area: m;
}
.select{
    grid-area: n;
    padding-left: 5px;
    accent-color: rgb(13, 255, 13);
}
.button{
    grid-area: o;
    padding: 5px;
}
button{
    padding: 10px 40px;
    background-color: red;
    border-radius: 20px;
    border: none;
    color: white;
}
p{
    padding-bottom: 10px;
}
